page-downloads {

}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff0f0;
}
.backBtn {
    color: #ffffff;
    background-color: transparent;
    float: right;
    position: absolute;
    left: 0px;
    top: -15px;
}