page-contact {

}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #ee1d23;
    opacity: 1;
}

.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #0e0e0e;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
}