page-news {

    .icons{
        float:right;
    }


    ion-label {
       overflow: unset; 
     text-overflow: unset;
    white-space: unset; 
    }

    .scroll-content{
    background: #fff !important;
}


}


.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #ee1d23;
}