page-details {

 .scroll-content{
    background: #fff !important;
}
.toolbar-title-md {
    padding: 0 50px;
    font-size: 15px;
}

ion-card-header {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
}
b, strong {
    font-weight: bold;
    /* color: #f04146; */
    padding: 8px;
}
}


